body {
  color: #fff;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
	background:url(grr/this.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}


.form-wrapper {
  width:350px;
  position: absolute;
  top: 30%;
  left: 48%;
  margin: -184px 0px 0px -155px;
  background: rgb(211,211,211);
  border-style: solid;
  border-color: black;
  padding: 15px 25px;
  border-radius: 25px;
}




.blog-border{
	border-style: solid;
	border-radius: 9px;
    /* border: 10px; */
}
.blog_list {
	height: 150px;
	margin: 15px;
	background:rgba(51,122,183,0.5);
}
.container-blog {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	/* margin-top: 50px; */
	text-align: center;
    border-style: solid;
	border-radius: 75px;
	width: 1000px;
}
.blog-border_radius-m{
	border-radius: 50px;
}
.blog-border_radius-s{
	border-radius: 10px;
}
.blog-border_radius-vs{
	border-radius: 5px;
}
.log-button-spacing {
	margin-right: 15px;
	margin-left: 15px;
}
.blog-background-dark_grey {
	background:rgba(67,70,75,0.5);
}
.blog_image_fit {
	max-width:100%;
	max-height:100%;
}
body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }
a {
    color: #0060B6;
    text-decoration: none;
}
a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}


