
.travel-desc{
    font-size: 14px;
    position: relative;
    width: 100%;
}

.image img{
    width: 100%;
    height: 250px;
    border-radius: 10px
}

.image-box{
    margin: 0;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}


.image-box .image::after{
    display: block;
    position: relative;
    background-image: linear-gradient(to top, #000000 0, #000000 30%, #ffffff 50%, #ffffff 100%);
    opacity: 0.3;
    margin-top: -200px;
    height: 200px;
    width: 100%;
    content: '';
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .travel-desc:hover .image-box{
    opacity: 0.3;
  }
  
  .travel-desc:hover .middle{
    opacity: 1;
  }


.image-box .badge{
    position: absolute;
    top: 5px;
    left: 5px;
}

.image-box .description{
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    
}

.description .info{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.info .dates{
    padding: 3px;
    margin: 3px;
}

.info .country{
    padding: 3px;
    margin: 3px;
}

.description .price{
    border: solid white 1px;
    border-radius: 3px;
    background-color: white;
    color: black;
    float: right;
    margin-right: 10px;
}

.price-from{
    padding: 3px;
    margin: 3px;
}

.price-value{
    padding: 3px;
    margin: 3px;
}

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  .badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  .badge-error {
    background-color: #b94a48;
  }
  .badge-error:hover {
    background-color: #953b39;
  }
  .badge-warning {
    background-color: #f89406;
  }
  .badge-warning:hover {
    background-color: #c67605;
  }
  .badge-success {
    background-color: #468847;
  }
  .badge-success:hover {
    background-color: #356635;
  }
  .badge-info {
    background-color: #3a87ad;
  }
  .badge-info:hover {
    background-color: #2d6987;
  }
  .badge-inverse {
    background-color: #333333;
  }
  .badge-inverse:hover {
    background-color: #1a1a1a;
  }
