body {
  color: #fff;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
	background:url(grr/this.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}


.form-wrapper {
  width:350px;
  position: absolute;
  top: 30%;
  left: 48%;
  margin: -184px 0px 0px -155px;
  background: rgb(211,211,211);
  border-style: solid;
  border-color: black;
  padding: 15px 25px;
  border-radius: 25px;
}

.good {
color: #000000;
margin-top: -11px;
}


.form-item {
width:100%;
}


h3{
  font-size: 25px;
  font-weight: 640;
  margin-bottom: 10px;
  color: #e7e7e7;
  padding:6px;
  font-family:'sans-serif','helvetica';
}



.form-item input{
  outline: none;
  border:0.5px solid #000000;
  border-radius: 12px;
  margin-top:10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  height: 49px;
  padding: 0 16px;
  width: 100%;
  padding-left: 55px;

}
input[type='password']{
	background: transparent url("grr/keey.png") no-repeat;
	background-position: 3px 50%;
        background-size: 42px 42px;
}
input[type='text']{
	background: transparent url("grr/userrr.png") no-repeat;
	background-position: 10px 50%;
        background-size: 25px 25px;
}
input[type='text2']{
	background: transparent url("grr/mail.png") no-repeat;
	background-position: 10px 50%;
        background-size: 25px 25px;
}
input[type='text3']{
	background: transparent url("grr/name.png") no-repeat;
	background-position: 10px 50%;
        background-size: 25px 25px;
}
input[type='text4']{
	background: transparent url("grr/surname.png") no-repeat;
	background-position: 10px 50%;
        background-size: 25px 25px;
}
input[type='text5']{
	background: transparent url("grr/calendar.png") no-repeat;
	background-position: 10px 50%;
        background-size: 25px 25px;
}

.form-item input:focus {
  outline: none;
  border:1.7px solid #000000;
  border-radius: 12px;
}

.button-panel {
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
}

.button-panel .button {
  background: linear-gradient(to right, rgb(202, 216, 49), rgb(246, 245, 243));
  color: #000000;
  cursor: pointer;
  height: 50px;
  font-family: 'helvetica','Open Sans', sans-serif;
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
  transition: background 0.3s linear;
  border-radius: 12px;
  width: 100%;
  margin-top:10px;
}

.button:hover {
  background: linear-gradient(to right, rgb(246, 245, 243), rgb(202, 216, 49));
}

.form-item input, .button-panel .button {
  border-radius: 2px
}

.reminder {
  text-align: center;
}

.reminder a {
  color: #0b5a8c;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s;
}

.reminder a:hover {
  color: #ff0000;
}


.travel-images{
  width:100px;
  height:100px;
}

#top_image{
  width: 400px;
  height: 400px;
}

/*Labāk neaiztiec*/

.genderText {
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
	color: #4B4B4B;
    font-size: 1.2em;
	margin-left: -30px;
}


.gender input[type="radio"] {
  display:none;
}


.maleRadio input[type="radio"] + label {
    display:inline-block;
    width:40px;
    height:85px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('http://dizin.x10.bz/codepen/jshdJ/m.png') left top no-repeat;
    cursor:pointer;
}

.maleRadio input[type="radio"]:checked + label {
	  background:url('http://dizin.x10.bz/codepen/jshdJ/maleHover.png') left top no-repeat;
}

.femaleRadio input[type="radio"] + label {
    display:inline-block;
    width:40px;
    height:85px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('http://dizin.x10.bz/codepen/jshdJ/f.png') left top no-repeat;
    cursor:pointer;
}

.femaleRadio input[type="radio"]:checked + label {
    background:url('http://dizin.x10.bz/codepen/jshdJ/femaleHover.png') left top no-repeat;
}


.maleRadio, .femaleRadio  {
	  display:inline-block;
}

.center {
    text-align:center;
    margin:auto;
    margin-top: 10px;
}
